.circle {
    width: 40vh;
    height: 40vh;
    background-color: white;
    border-radius: 50%;
    border-top: 120px solid red;
    border-right: 120px solid blue;
    border-bottom: 120px solid green;
    border-left: 120px solid orange;
    margin: 0 auto;
    transition: transform 10s ease, border 3s ease-in-out, background-color 10s ease;
}

.active {
    transform: rotate(3690deg);
    border-top-color: yellow;
    border-right-color: darkgreen;
    border-bottom-color: cadetblue;
    border-left-color: crimson;
    background-color: black;
}

button {
    background-color: brown;
    color: white;
    width: 200px;
    height: 30px;
    display: block;
    margin: 20px auto;
    border: none;
    cursor: pointer;
    transition: all 500ms ease;
}

button:hover {
    background-color: rgb(172, 80, 80);
}